.anchor-container {
    padding: 0 20vw;
    display: flex;
    align-items: center;
}

.menuDropdownIcon,
.themeDropdownIcon,
.translationDropdownIcon {
    height: 25px;
    width: 25px;
    background-size: cover;

}

.menuDropdownIcon {
    background-image: url('../images/menu.png');
}

.themeDropdownIcon {
    background-image: url('../images/art.png');
}

.translationDropdownIcon {
    background-image: url('../images/translate.png');
}

html[data-theme="light"] .menuDropdownIcon {
    background-image: url('../images/menu-black.png');
}

html[data-theme="light"] .themeDropdownIcon {
    background-image: url('../images/art-black.png');
}

html[data-theme="light"] .translationDropdownIcon {
    background-image: url('../images/translate-black.png');
}

.themeDropdown {
    margin-left: auto;
    margin-right: 2%;
}

.menuDropdown {
    display: none;
}

.dropdownIconDiv {
    border: #ffffff solid 2px;
    padding: 5px;
    border-radius: 15px;
}

html[data-theme="light"] .dropdownIconDiv {
    border: black solid 2px;
}

.dropdownIconDiv:hover {
    cursor: pointer;
}

html[data-theme="fresh"] .dropdownIconDiv:hover {
    background-color: #629181;
}

html[data-theme="dark"] .dropdownIconDiv:hover {
    background-color: #38414A;
}

html[data-theme="sweet"] .dropdownIconDiv:hover {
    background-color: #d783c8;
}

.translationDropdownContent,
.themeDropdownContent,
.menuDropdownContent {
    position: absolute;
    display: none;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

html[data-theme="dark"] .translationDropdownContent,
html[data-theme="dark"] .themeDropdownContent,
html[data-theme="dark"] .menuDropdownContent {
    background-color: #1D2125;
}

.translationDropdownContent {
    right: 20%;
}

.themeDropdownContent {
    right: 24.5%;
}

.translationDropdownContent a,
.themeDropdownContent a,
.menuDropdownContent a {
    right: 0;
    width: 100%;
    border-radius: 10px;
    color: black;
    padding: 8px 10px;
    display: flex;
    align-items: center
}

.translationDropdown:hover .translationDropdownContent {
    display: block;
}

.themeDropdown:hover .themeDropdownContent {
    display: block;
}

.menuDropdown:hover .menuDropdownContent {
    display: block;
}

#freshThemeColor {
    background-color: #81beaa;
}

#sweetThemeColor {
    background-color: #d783c8;
}

#darkThemeColor {
    background-color: #101214;
}

#lightThemeColor {
    background-color: #DCDFE4;
}

.flag-icon,
.themeColor {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


html[data-theme="fresh"] .navButtonText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html[data-theme="sweet"] .navButtonText {
    font-family: 'Twinky', sans-serif;
    font-size: 22px;
}

nav {
    padding: 5px 0;
    height: 60px;
    /* Cambiar height para ajustar la altura */
    width: 100%;
    /* Centra la imagen horizontal y verticalmente */
}

html[data-theme="fresh"] nav {
    background-color: #81beaa;
}

html[data-theme="sweet"] nav {
    background: url('../images/header6.png') repeat-x center;
    background-size: contain;
    /* BACKGROUND-SIZE TIENE QUE ESTAR EN CONTAIN
      Ajusta el tamaño de la imagen */
    background-position: center top;
    /* Centra la imagen horizontal y verticalmente */
}

/* Estilo para los enlaces en la barra */
nav a {
    text-decoration: none;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    z-index: 1000;
    padding: 10px 0px;
    letter-spacing: -1px;
}

/* ESTE ES EL COLOR DEL TEXTO DEL HEADER*/
html[data-theme="light"] .navButtonText {
    color: #333;
}

.navButtonText {
    font-size: 25px;
    color: #fff;
}

/* ESTE EL COLOR DEL TEXTO DE LOS DROPDOWNS*/
.dropdownText {
    color: #333;
}

html[data-theme="dark"] .dropdownText {
    color: #fff;
}



.icon {
    top: 20px;
    left: 20%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.logo {
    left: 23%;
    font-family: sans-serif;
    font-size: 25px;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .anchor-container {
        padding: 0 10vw;
        margin-top: 10px;
    }

    .translationDropdownContent {
        right: 10%;
    }


    .themeDropdown {
        margin-right: 4%;
    }

    .themeDropdownContent {
        right: 24%;
    }

    nav a {
        margin-right: 0px;
    }

    .menuDropdown {
        display: block;
    }

    .navButtonText {
        display: none;
    }
}