.contact{
    font-size: 20px;
}

.aboutMeDiv {
    display: flex;
    align-items: center;

    margin-left: 5vw;
}

.aboutMeParagraph {
    text-align: justify;
    padding-left: 8vw;
    font-size: 18px;
}

.resumePhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.habilitiesLanguagesDiv {
    display: flex;
    align-items: start;
}

.languages {
    margin-left: auto;
    margin-right: 15vw;
}

.ratingIcon {
    width: 22px;
    height: 22px;
}

.ratingsDiv li {
    height: 40px;
}

.ratingsDiv {
    display: inline-flex;
    align-items: center;
}

.skillsList {
    font-size: 20px;
    font-weight: bold;
}

.ratingsList {
    margin-left: 15%;
    padding-top: 10px;
}

.ratingsDiv ul {
    margin-bottom: 0;
}

.ratingsList li {
    display: flex;
}

.languagesDiv {
    margin-left: auto;
}

.languagesDiv h2 {
    width: 100%;
}

.languageListsDiv {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5vw;
}

.proficencyList {
    list-style-type: none;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 10px;
}

li {
    font-size: 18px;
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .ratingsList {
        margin-left: 10%;
    }

    ul {
        padding-left: 10%;
    }
}