html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html[data-theme="sweet"] {
  font-family: 'DM Serif Display', serif;
}

#aboutMe {
  margin-top: 10px;
  margin-bottom: 40px;
}

#aboutMe2 {
  margin-bottom: 20px;
}

/* Estilo del cuerpo */
body {
  line-height: 1.6;
  color: #333;
}

html[data-theme="fresh"] body {
  background-color: #effffa;
}

html[data-theme="fresh"] body {
  background-color: #FFFFFF;
}

html[data-theme="dark"] body {
  background-color: #101214;
  color: #DEE4EA;
}

html[data-theme="sweet"] body {
  background-color: #f1e0ee;
}

main {
  /* Espacio para la barra de navegación */
  margin-top: 50px;
  /* Espacio para el header */
  padding: 0 20%;
}


main h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.roundedBox {
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

html[data-theme="fresh"] .roundedBox {
  border: solid 2px #81beaa;
  background-color: #dff4ed;
}

html[data-theme="dark"] .roundedBox {
  border: solid 2px #596773;
  background-color: #1D2125;
}

html[data-theme="light"] .roundedBox {
  border: solid 2px #B3B9C4;
  background-color: #F1F2F4;
}

html[data-theme="sweet"] .roundedBox {
  border: solid 2px #dcadd3;
  background-color: #f1cbea;
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .gif-container img {
    max-width: 100%;
  }

  main {
    /* Espacio para el header */
    padding: 0 10%;
  }

  main h1 {
    font-size: 30px;
  }

  .pinkRoundedBox {
    font-size: 18px;
  }
}