html,
body {
  margin: 0;
  padding: 0;
}

html[data-theme="fresh"] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html[data-theme="sweet"] {
  font-family: 'DM Serif Display', serif;
}

/* Estilo del cuerpo */
body {
  line-height: 1.6;
  color: #333;
}

html[data-theme="fresh"] body {
  background-color: #effffa;
}

html[data-theme="sweet"] body {
  background-color: #f1e0ee;
}

main {
  /* Espacio para la barra de navegación */
  margin-top: 50px;
  /* Espacio para el header */
  padding: 0 20%;
}

/* Contenedor del GIF */
.gif-container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  /* Ocupa toda la altura visible */
}

/* Estilo del GIF */
.gif-container img {
  max-width: 50%;
  /* Por defecto, ocupa la mitad del ancho disponible */
  max-height: 100%;
  /* No excede la altura de la pantalla */
  padding: 20px;
  /* Espaciado alrededor del GIF */
  box-sizing: border-box;
  /* Incluye el padding en el tamaño total */
}


main h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.roundedBox {
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

html[data-theme="fresh"] .roundedBox {
  border: solid 2px #81beaa;
  background-color: #dff4ed;
}

html[data-theme="sweet"] .roundedBox {
  border: solid 2px #dcadd3;
  background-color: #f1cbea;
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .gif-container img {
    max-width: 100%;
  }

  main {
    /* Espacio para el header */
    padding: 0 10%;
  }

  main h1 {
    font-size: 30px;
  }

  .pinkRoundedBox {
    font-size: 18px;
  }
}