/* Reset básico */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Estilo del cuerpo */
body {
    background-color: #f4f4f4;
    line-height: 1.6;
    /*padding: 20px;*/
}


/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: #0078d7;
}

header p {
    font-size: 1rem;
    color: #555;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.flag-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Contenedor del GIF */
.gif-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    /* Ocupa toda la altura visible */
}

/* Estilo del GIF */
.gif-container img {
    max-width: 100%;
    /* Por defecto, ocupa el ancho disponible */
    max-height: 100%;
    /* No excede la altura de la pantalla */
    padding: 20px;
    /* Espaciado alrededor del GIF */
    box-sizing: border-box;
    /* Incluye el padding en el tamaño total */

}

/* Estilos para pantallas grandes (PC) */
@media (min-width: 768px) {
    .gif-container img {
        max-width: 50%;
        /* Ocupa el 50% del ancho en pantallas grandes */
    }
}

/* Estilo para la barra de navegación */
nav {
    background-color: #333;
    /* Color de fondo de la barra */
    padding: 10px 20px;
    position: fixed;
    /* Fija la barra en la parte superior */
    top: 0;
    width: 100%;
    /* Ocupa todo el ancho */
    z-index: 1000;
    /* Asegura que esté encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
}

/* Estilo para los enlaces en la barra */
nav a {
    color: white;
    /* Color del texto */
    text-decoration: none;
    /* Sin subrayado */
    margin-right: 20px;
    /* Espaciado entre los botones */
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
    /* Subrayado al pasar el cursor */
}

main {
    margin-top: 60px;
    /* Espacio para la barra de navegación */
    padding: 20px;
    /* Espacio para el header */
}