body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  /* Usar DM Serif Display */
  color: #333;
}

html,
body {
  /* Elimina el desplazamiento horizontal */
  /*overflow-x: hidden;*/
  font-family: 'DM Serif Display', serif;
}

/* Estilo del cuerpo */
body {
  background-color: #f1e0ee;
  line-height: 1.6;
}

.dropbtn {
  height: 25px;
  width: 25px;
  /* Centra en el eje vertical */
}

.dropdown {
  position: absolute;
  right: 21.5%;
  top: 15px;
}

.dropdownMenu {
  display: none;
  position: absolute;
  right: 30%;
  top: 15px;
}


.dropdownButtonContainer {
  display: inline-block;
  align-items: center;
  border: #ffffff solid 2px;
  padding: 5px;
  border-radius: 15px;
}

.dropdownButtonContainer:hover {
  background-color: #d783c8;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  top: 100%;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  position: relative;
  width: 100%;
  right: 0;
  border-radius: 10px;
  color: black;
  padding: 8px 10px;
  display: flex;
  align-items: center
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdownMenu:hover .dropdown-content {
  display: block;
}

.flag-icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Contenedor del GIF */
.gif-container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  /* Ocupa toda la altura visible */
}

/* Estilo del GIF */
.gif-container img {
  max-width: 50%;
  /* Por defecto, ocupa la mitad del ancho disponible */
  max-height: 100%;
  /* No excede la altura de la pantalla */
  padding: 20px;
  /* Espaciado alrededor del GIF */
  box-sizing: border-box;
  /* Incluye el padding en el tamaño total */
}


nav {
  position: relative;
  padding-top: 20px;
  height: 60px;
  /* Cambiar height para ajustar la altura */
  width: 100%;
  background: url('header6.png') repeat-x center;
  background-size: contain;
  /* BACKGROUND-SIZE TIENE QUE ESTAR EN CONTAIN
    Ajusta el tamaño de la imagen */
  background-position: center top;
  /* Centra la imagen horizontal y verticalmente */
}

/* Estilo para los enlaces en la barra */
nav a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  margin-right: 40px;
  font-size: 20px;
  z-index: 1000;
  padding: 10px 0px;
  letter-spacing: -1px;
}

.logo {
  top: 15px;
  left: 20%;
  position: absolute;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.anchor-container {
  text-align: right;
  padding-right: 25%;
}

main {
  /* Espacio para la barra de navegación */
  margin-top: 50px;
  /* Espacio para el header */
  padding-left: 20%;
}

main h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

main div {
  padding: 15px;
  border: solid 2px #dcadd3;
  width: 70%;
  border-radius: 20px;
  background-color: #f1cbea;
  font-size: 20px;
  margin-bottom: 20px;
}

footer {
  position: relative;
  bottom: 0px;
  background: url('footer.png') no-repeat center;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  min-height: 238px;
  /* Asegura que no se reduzca demasiado en pantallas pequeñas */
  height: 238px;
  /* Mantiene la altura constante */
  margin-top: 150px;
}

footer div {
  padding: 20px;
  padding-top: 50px;
  /* Espacio alrededor del contenido */
  color: white;
  text-align: center;
  font-family: 'DM Serif Display', serif;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .gif-container img {
    max-width: 100%;
  }

  nav a {
    margin-right: 10px;
    padding: 2px;
  }

  .anchor-container {
    padding-left: 10%;
  }

  main {
    /* Espacio para el header */
    padding-left: 10%;
  }

  main h1 {
    font-size: 30px;
  }

  main div {
    width: 80%;
    font-size: 18px;
  }

  footer {
    margin-top: 100px;
    height: 168px;
    /* Ajusta la altura según lo necesites */
  }

  .dropdown {
    position: absolute;
    right: 10%;
    top: 15px;
  }

  .dropdownMenu {
    display: block;
  }

  .navButtonInside {
    display: none;
  }

  .logo {
    left: 10%;
  }



}