body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    /* Usar DM Serif Display */
    color: #333;
}

html,
body {
    /* Elimina el desplazamiento horizontal */
    overflow-x: hidden;
    font-family: 'DM Serif Display', serif;
}

/* Estilo del cuerpo */
body {
    background-color: #f1e0ee;
    line-height: 1.6;
    /*padding: 20px;*/
}

.dropbtn {
    cursor: pointer;
    height: 25px;
    width: 25px;
    /* Centra en el eje vertical */
}

.dropdown {
    position: absolute;
    right: 20%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    top: 100%;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    position: relative;
    right: 0;
    border-radius: 10px;
    color: black;
    padding: 8px 10px;
    display: flex;
    align-items: center
}


.dropdown:hover .dropdown-content {
    display: block;
}

.flag-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Contenedor del GIF */
.gif-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    /* Ocupa toda la altura visible */
}

/* Estilo del GIF */
.gif-container img {
    max-width: 100%;
    /* Por defecto, ocupa el ancho disponible */
    max-height: 100%;
    /* No excede la altura de la pantalla */
    padding: 20px;
    /* Espaciado alrededor del GIF */
    box-sizing: border-box;
    /* Incluye el padding en el tamaño total */

}


/* Estilo para la barra de navegación */
nav {
    position: absolute;
    background: url('header3.png') repeat-x center;
    background-size: 200%;
    padding: 20px 20px;
    /* Aumenta el padding para más espacio */
    height: 276px;
    width: 100%;
    background-position: top center;
    /* Asegura que el fondo esté en la parte superior y centrado */
}


/* Estilo para los enlaces en la barra */
nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;

}

nav a:hover {
    text-decoration: underline;
}

.anchor-container {
    padding-left: 10%;
}

main {
    /* Espacio para la barra de navegación */
    margin-top: 100px;
    /* Espacio para el header */
    padding-left: 10%;
}

main h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

main div {
    padding: 15px;
    border: solid 2px #dcadd3;
    width: 80%;
    border-radius: 20px;
    background-color: #f1cbea;
    font-size: 18px;
    margin-bottom: 20px;
}


footer {
    background: url('footer.png') no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 100px;
    /* La imagen cubrirá toda el área, manteniendo la proporción */
    background-position: bottom center;
    width: 100%;
    height: 168px;
    /* Ajusta la altura según lo necesites */
}

footer div {
    padding: 20px;
    padding-top: 50px;
    /* Espacio alrededor del contenido */
    color: white;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}


/* Estilos para pantallas grandes (PC) */
@media (min-width: 768px) {
    .gif-container img {
        max-width: 50%;
    }

    nav {
        background-size: 50%;
    }

    nav a {
        margin-right: 20px;
    }

    .anchor-container {
        padding-left: 20%;
    }

    main {
        /* Espacio para la barra de navegación */
        margin-top: 150px;
        /* Espacio para el header */
        padding-left: 20%;
    }

    main h1 {
        font-size: 40px;
    }

    main div {
        width: 60%;
        font-size: 20px;
    }

    footer {
        margin-top: 200px;
        height: 238px;
        /* Ajusta la altura según lo necesites */
    }
}